{
    "default": {
        "logdir": "/var/log/orawebadmin/",
        "port": "80",
        "loglevel": "warn",
        "users": {"supergod":"---super---sec---1984---ret---password---"},
        "databases":[
            {
                "dbname":"DBLIVE",
                "oracle_sid":"DBLIVE",
                "oracle_home":"/opt/oracle/product/ora19",
                "login":"/ as sysdba"
            },
            {
                "dbname":"DBTEST",
                "oracle_sid":"DBTEST",
                "oracle_home":"/opt/oracle/product/ora19",
                "login":"/ as sysdba"
            }
        ]
    },
    "development":{
        "loglevel": "debug",
        "port": "3001"
        "users": {"supergod":"---super---sec---1984---ret---password---"},
        "databases":[
            {
                "dbname":"DBTEST",
                "oracle_sid":"DBTEST",
                "oracle_home":"/opt/oracle/product/ora19",
                "login":"/ as sysdba"
            }
        ]
    },
    "production":{
        "loglevel": "warn",
        "users": {"supergod":"---super---sec---1984---ret---password---"},
        "databases":[
            {
                "dbname":"DBLIVE",
                "oracle_sid":"DBLIVE",
                "oracle_home":"/opt/oracle/product/ora19",
                "login":"/ as sysdba"
            }
        ]
    }
}